{% extends "modals/modal.html.twig" %}

{% block modal_title %}{{translate('Company Files')}}{% endblock %}

{% block modal_body %}
    <div class="row">
        <table class="table">
            <thead class="thead-light">
                <tr>
                  <th scope="col">Company</th>
                  <th scope="col">Date</th>
                  <th scope="col">Zip</th>
                  <th scope="col">ScreenShot</th>
                </tr>
            </thead>
            <tbody>
                {% if html %}
                 {{ html | raw }}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}