<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="js-form-alerts">
    </div>
    <div class="row">
        {% block user_form %}
            {% if 'name' not in form.fields.hidden %}
            <input type="hidden"  name="id" autocomplete="off" value="{{user.id}}">
            <input type="hidden"  name="xero_url" autocomplete="off" value="https://login.xero.com">
            <div class="col-sm-12">
                <button type="button" id="addNameField" class="btn btn-info">Add Company</button>
                <div id="nameFieldsContainer">
                    
                    {% if html %}
                     {{ html | raw }}
                    {% else %}
                        <div class="form-group">
                            <label>{{translate('COMPANY NAME')}}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                                <input type="text" class="form-control" name="name[]" autocomplete="off" value="{{user.name}}" placeholder="{{translate('COMPANY_NAME')}}" {% if 'name' in form.fields.disabled %}disabled{% endif %}>
                            </div>
                        </div>
                    {% endif %}
                    
                </div>
            </div>
            
            {#
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('XERO_URL')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="xero_url" autocomplete="off" value="{{user.xero_url}}" placeholder="{{translate('XERO_URL')}}" {% if 'name' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            #}
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate('What was your favourite place to visit as a child?')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="q1" autocomplete="off" value="{{user.q1}}" {% if 'q1' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate('Who is your favourite painter?')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="q2" autocomplete="off" value="{{user.q2}}" {% if 'q2' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate('Who is your favourite person from history?')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="q3" autocomplete="off" value="{{user.q3}}" {% if 'q3' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate('What is your dream car?')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="q4" autocomplete="off" value="{{user.q4}}" {% if 'q4' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate('What is your dream job?')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="q5" autocomplete="off" value="{{user.q5}}" {% if 'q5' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate('What is the name of your favourite cartoon?')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="q6" autocomplete="off" value="{{user.q6}}" {% if 'q6' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate('What is the first name of your closest childhood friend?')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="q7" autocomplete="off" value="{{user.q7}}" {% if 'q7' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate('What was the name of your first pet?')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="q8" autocomplete="off" value="{{user.q8}}" {% if 'q8' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate('What street did you live on when you were 10 years old?')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="q9" autocomplete="off" value="{{user.q9}}" {% if 'q9' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate('Which movie scared you most as a child?')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="q10" autocomplete="off" value="{{user.q10}}" {% if 'q10' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if 'email' not in form.fields.hidden %}
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('EMAIL')}}</label>
                    <div class="input-group js-copy-container">
                        <span class="input-group-addon"><i class="fas fa-envelope fa-fw"></i></span>
                        <input type="text" class="form-control js-copy-target" name="email" autocomplete="off" value="{{user.email}}" placeholder="{{translate('EMAIL')}}" {% if 'email' in form.fields.disabled %}disabled{% endif %}>
                        {% if 'email' in form.fields.disabled %}
                            <span class="input-group-btn">
                                <button class="btn btn-default uf-copy-trigger js-copy-trigger" type="button"><i class="fas fa-clipboard"></i></button>
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('PASSWORD')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="password" autocomplete="off" value="{{user.password}}" placeholder="{{translate('PASSWORD')}}" {% if 'name' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate('SECRET_KEY')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                        <input type="text" class="form-control" name="secret" autocomplete="off" value="{{user.secret}}" placeholder="{{translate('SECRET_KEY')}}" {% if 'name' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <hr/>
            {#
            <div class="col-sm-12">
                <div class="form-group">
                    <label>{{translate('DATES_FOR_YEAR')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="dates_one_yr" autocomplete="off" value="{{user.dates_one_yr}}" {% if 'dates_one_yr' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
             
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('DATES_1')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="date1" autocomplete="off" value="{{user.date1}}" {% if 'date1' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('DATES_2')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="date2" autocomplete="off" value="{{user.date2}}" {% if 'date2' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('DATES_3')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="date3" autocomplete="off" value="{{user.date3}}" {% if 'date3' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            #}
            <center>
                <label>{{translate('VAT Report Range')}}</label>
            </center>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('START DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="start_date_for_vat" autocomplete="off" value="{{user.start_date_for_vat}}" {% if 'start_date_for_vat' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('END DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="end_date_for_vat" autocomplete="off" value="{{user.end_date_for_vat}}" {% if 'end_date_for_vat' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <center>
                <label>{{translate('Account Transaction YEAR 1')}}</label>
            </center>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('START DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="date_range1_start" autocomplete="off" value="{{user.date_range1_start}}" {% if 'date_range1_start' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('END DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="date_range1_end" autocomplete="off" value="{{user.date_range1_end}}" {% if 'date_range1_end' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <center>
                <label>{{translate('Account Transaction YEAR 2')}}</label>
            </center>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('START DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="date_range2_start" autocomplete="off" value="{{user.date_range2_start}}" {% if 'date_range2_start' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('END DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="date_range2_end" autocomplete="off" value="{{user.date_range2_end}}" {% if 'date_range2_end' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <center>
                <label>{{translate('Account Transaction YEAR 3')}}</label>
            </center>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('START DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="date_range3_start" autocomplete="off" value="{{user.date_range3_start}}" {% if 'date_range3_start' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('END DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="date_range3_end" autocomplete="off" value="{{user.date_range3_end}}" {% if 'date_range3_end' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <center>
                <label>{{translate('Bank Reconciliation')}}</label>
            </center>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('START LONG DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="start_long_date" autocomplete="off" value="{{user.start_long_date}}" {% if 'start_long_date' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('END LONG DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="end_long_date" autocomplete="off" value="{{user.end_long_date}}" {% if 'end_long_date' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('START DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="start_date" autocomplete="off" value="{{user.start_date}}" {% if 'start_date' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('END DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="end_date" autocomplete="off" value="{{user.end_date}}" {% if 'end_date' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <center>
                <label>{{translate('Payroll Activity Details')}}</label>
            </center>
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('START DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="payroll_dates_act1" autocomplete="off" value="{{user.payroll_dates_act1}}" {% if 'payroll_dates_act1' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('END DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="payroll_dates_act2" autocomplete="off" value="{{user.payroll_dates_act2}}" {% if 'payroll_dates_act2' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <center>
                <label>{{translate('Payroll Activity Summary')}}</label>
            </center>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('START DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="payroll_dates_sum1" autocomplete="off" value="{{user.payroll_dates_sum1}}" {% if 'payroll_dates_sum1' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{{translate('END DATE')}}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-clock fa-fw"></i></span>
                        <input type="date" class="form-control" name="payroll_dates_sum2" autocomplete="off" value="{{user.payroll_dates_sum2}}" {% if 'payroll_dates_sum2' in form.fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            {% endif %}
            
        {% endblock %}
    </div><br>
    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">{{translate('CANCEL')}}</button>
        </div>
    </div>
</form>
<!-- Include validation rules -->
<script>
{% include "pages/partials/page.js.twig" %}
</script>
<script>
    $(document).ready(function() {
        // Function to add a new name field
        $('#addNameField').click(function() {
            var fieldCount = $('.name-field').length;
            var newFieldCount = fieldCount + 1;

            var newField = `
                <div class="name-field">
                    <div class="col-sm-10" >
                        <div class="form-group">
                            <label>{{translate('COMPANY NAME')}}</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                                <input type="text" class="form-control" name="name[]" autocomplete="off" placeholder="{{translate('COMPANY_NAME')}}" {% if 'name' in form.fields.disabled %}disabled{% endif %}>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" style="margin-top: 24px;" >
                        <div class="form-group">
                            <button type="button" class="deleteNameField btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            `;

            $('#nameFieldsContainer').append(newField);
        });

        // Function to delete a name field
        $('#nameFieldsContainer').on('click', '.deleteNameField', function() {
            //$(this).parent().remove();
            $(this).closest('.name-field').remove();
        });
    });
</script>
