<footer class="main-footer">
    {#
    <div class="pull-right hidden-xs">
      {{ translate("BUILT_WITH_UF") | raw }} &middot;
      <a href="{{site.uri.public}}/legal">{{ translate("TOS") }}</a> &middot;
      <a href="{{site.uri.public}}/privacy">{{ translate("PRIVACY") }}</a>
    </div>
    #}
    &copy; {{ "now"|date("Y") }}. <span class="hidden-xs">{{ translate("ADMINLTE_THEME_BY") | raw }}.</span>
</footer>