{# This partial template renders a table of users, to be populated with rows via an AJAX request.
 # This extends a generic template for paginated tables.
 #
 # Note that this template contains a "skeleton" table with an empty table body, and then a block of Handlebars templates which are used
 # to render the table cells with the data from the AJAX request.
#}

{% extends "tables/table-paginated.html.twig" %}

{% block table %}
    <table id="{{table.id}}" class="tablesorter table table-bordered table-hover table-striped" data-sortlist="{{table.sortlist}}">
        <thead>
            <tr>
                <th class="sorter-metatext" data-column-name="name" data-column-template="#user-table-column-info" data-priority="1">{{translate('Company')}} <i class="fas fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="date_range1_start" data-column-template="#user-table-column-date_range1_start" data-priority="3">{{translate("Account Transaction Range")}} <i class="fas fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="start_long_date" data-column-template="#user-table-column-start_long_date" data-priority="3">{{translate("Bank Reconciliation Range")}} <i class="fas fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="payroll_dates_act1" data-column-template="#user-table-column-payroll_dates_act1" data-priority="3">{{translate("Payroll Activity Details")}} <i class="fas fa-sort"></i></th>
                <th class="sorter-metanum" data-column-name="payroll_dates_sum1" data-column-template="#user-table-column-payroll_dates_sum1" data-priority="3">{{translate("Payroll Activity Summary")}} <i class="fas fa-sort"></i></th>
                <th class="sorter-metatext" data-column-name="status" data-column-template="#user-table-column-status" data-priority="2">{{translate("STATUS")}} <i class="fas fa-sort"></i></th>
               <th class="sorter-metanum" data-column-name="file" data-column-template="#user-table-column-file" data-priority="3">{{translate("File")}} <i class="fas fa-sort"></i></th>
                <th data-column-name="actions" data-column-template="#user-table-column-actions" data-sorter="false" data-filter="false" data-priority="1">{{translate("ACTIONS")}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block table_cell_templates %}
    {# This contains a series of <script> blocks, each of which is a client-side Handlebars template.
     # Note that these are NOT Twig templates, although the syntax is similar.  We wrap them in the `verbatim` tag,
     # so that Twig will output them directly into the DOM instead of trying to treat them like Twig templates.
     #
     # These templates require handlebars-helpers.js, moment.js
    #}
    {% verbatim %}
    <script id="user-table-column-info" type="text/x-handlebars-template">
        <td data-text="{{row.name}}">
            <strong>
                {{row.name}}
            </strong>
            <div class="js-copy-container">
                <span class="js-copy-target">{{row.email}}</span>
                <button class="btn btn-xs uf-copy-trigger js-copy-trigger"><i class="fas fa-copy"></i></button>
            </div>
        </td>
    </script>

    <script id="user-table-column-date_range1_start" type="text/x-handlebars-template">
        <td data-url="{{ row.date_range1_start }}">
            <strong>
                {{ row.date_range1_start }} To {{ row.date_range3_end }}

            </strong>
        </td>
    </script>
    <script id="user-table-column-start_long_date" type="text/x-handlebars-template">
        <td data-url="{{ row.start_long_date }}">
            <strong>
                {{ row.start_long_date }} To {{ row.end_long_date }}
            </strong>
        </td>
    </script>
    <script id="user-table-column-payroll_dates_act1" type="text/x-handlebars-template">
        <td data-url="{{ row.payroll_dates_act1 }}">
            <strong>
                {{ row.payroll_dates_act1 }} To {{ row.payroll_dates_act2 }}
            </strong>
        </td>
    </script>
    <script id="user-table-column-payroll_dates_sum1" type="text/x-handlebars-template">
        <td data-url="{{ row.payroll_dates_sum1 }}">
            <strong>
               {{ row.payroll_dates_sum1 }} To {{ row.payroll_dates_sum2 }}
            </strong>
        </td>
    </script>
    <script id="user-table-column-status" type="text/x-handlebars-template">
        <td
            {{#ifx row.status '==' 'New' }}
                data-text="New"
            {{ else }}
                data-text="completed"
            {{/ifx }}
        >
            {{#ifx row.status '==' 'New' }}
                <span class="text-yellow">
                    {% endverbatim %}{{translate("Open")}}{% verbatim %}
                </span>
            {{ else }}
                <span>
                    {% endverbatim %}{{translate("Completed")}}{% verbatim %}
                </span>
            {{/ifx }}
        </td>
    </script>
    <script id="user-table-column-file" type="text/x-handlebars-template">
        <td data-url="{{ row.xero_url }}">
            <a href="#" data-user_name="{{row.id}}" class="js-test-file">
                <i class="fas fa-file"></i>
            </a>
        </td>
    </script>
    <script id="user-table-column-actions" type="text/x-handlebars-template">
        <td class="uf-table-fit-width">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{% endverbatim %}{{translate("ACTIONS")}}{% verbatim %}<span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right-responsive" role="menu">
                    
                    <li>
                        <a href="#" data-user_name="{{row.id}}" class="js-test-edit">
                        <i class="fas fa-edit"></i> {% endverbatim %}{{translate("TEST.EDIT")}}{% verbatim %}
                        </a>
                    </li>
                    <li>
                        <a href="#" data-user_name="{{row.id}}" class="js-test-delete">
                        <i class="fas fa-trash-alt"></i> {% endverbatim %}{{translate("TEST.DELETE")}}{% verbatim %}
                        </a>
                    </li>
                </ul>
            </div>
        </td>
    </script>

    <script id="user-table-column-via-roles" type="text/x-handlebars-template">
        <td>
            {{#each row.roles_via }}
                <a href="{% endverbatim %}{# Handlebars can't access variables in the global scope, so we have to use Twig to insert the base url #}{{site.uri.public}}{% verbatim %}/roles/r/{{this.slug}}" class="label label-primary" title="{{this.description}}">{{this.name}}</a>
            {{/each}}
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
